* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  font-size: 130%;
  font-family: calluna, Calluna, Georgia;
  font-weight: 300;
  line-height: 1.55em;
  padding: 0 2em;
  text-rendering: optimizeLegibility;
  color: #555;
}

button.btn {
  margin: 5px;
}

h2.header {
  padding: 0 2em;
  text-align: center;
}

.preview {
  text-align: center;
  padding: 0 2em;
  flex-grow: 1;
}

.card {
  display: flex;
  align-items: center;
}

div.card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2em;
  margin: 1em;
  overflow-y: scroll;
}

/* Forms */
#form {
  border: 1px solid #ccc;
  max-height: 100vh;
  overflow-y: scroll;
}

#personal-info {
  display: none;
}

#personal-info.active {
  display: block;
  display: flex;
  flex-direction: column;
}

#education-form {
  display: none;
}

#education-form.active {
  display: block;
  display: flex;
  flex-direction: column;
}

#work-info {
  display: none;
}

#work-info.active {
  display: block;
  display: flex;
  flex-direction: column;
}

#preview {
  padding: 2em;
  margin: 1em;
}

.preview .header {
  text-align: center;
}

.preview .name {
  text-align: center;
  font-size: larger;
}

.preview .email {
  text-align: center;
}
